<!-- ====== Made With Button Start -->
<div
  class="inline-flex items-center gap-[10px] py-2 px-[14px] rounded-lg bg-white shadow-2 fixed bottom-8 left-4 sm:left-9 z-[999]"
>
  <span class="text-sm font-medium text-body-color">Made with</span>
  <span class="w-px h-4 block bg-stroke"></span>
  <img src="/assets/brands/tailgrids.svg" alt="tailgrids">
</div>
<!-- ====== Made With Button End -->