<div class="text-center mt-8 wow fadeInUp" data-wow-delay=".2s">
  <div class="inline-flex p-3 bg-white border rounded-[10px] border-stroke">
    <ul class="-mx-1 flex items-center">
      <li class="px-1">
        <a href="javascript:void(0)"
          class="flex items-center justify-center text-base bg-transparent border rounded-md hover:border-primary hover:bg-primary h-[34px] w-[34px] border-stroke text-body-color hover:bg-primary hover:border-primary hover:text-white">
          <span>
            <svg width="8" height="15" viewBox="0 0 8 15" class="fill-current stroke-current">
              <path
                d="M7.12979 1.91389L7.1299 1.914L7.1344 1.90875C7.31476 1.69833 7.31528 1.36878 7.1047 1.15819C7.01062 1.06412 6.86296 1.00488 6.73613 1.00488C6.57736 1.00488 6.4537 1.07288 6.34569 1.18487L6.34564 1.18492L6.34229 1.18828C5.88749 1.62263 5.43526 2.06912 4.99139 2.52677C4.54406 2.99029 4.10451 3.46407 3.67291 3.94808C3.24326 4.4295 2.82259 4.92082 2.41121 5.4214C2.00069 5.92085 1.60044 6.42914 1.2107 6.94622C0.819943 7.46533 0.440564 7.99328 0.0727199 8.53013C0.0316438 8.59147 0.0316438 8.59147 0.0316438 8.59147C0.0316438 8.59147 -0.0255184 8.66501 0.0255184 8.73027C0.0765547 8.79553 0.0765547 8.79553 0.0765547 8.79553C0.444365 9.33238 0.823744 9.86033 1.2145 10.3794C1.60424 10.8965 2.00449 11.4048 2.41501 11.9042C2.82639 12.4048 3.24706 12.8961 3.67671 13.3775C4.10831 13.8615 4.54786 14.3353 4.99519 14.7988C5.43906 15.2565 5.89129 15.7029 6.34609 16.1373C6.34614 16.1373 6.34619 16.1374 6.34624 16.1374C6.45354 16.2485 6.5772 16.3165 6.73597 16.3165C6.8628 16.3165 7.01046 16.2573 7.10454 16.1632C7.31512 15.9526 7.3146 15.6231 7.13424 15.4127L7.13424 15.4127L7.12979 1.91389Z"
                stroke-width="1.5" />
            </svg>
          </span>
        </a>
      </li>
      <li class="px-1">
        <a href="javascript:void(0)"
          class="flex items-center justify-center text-base bg-transparent border rounded-md hover:border-primary hover:bg-primary h-[34px] w-[34px] border-stroke text-body-color hover:bg-primary hover:border-primary hover:text-white">
          1
        </a>
      </li>
      <li class="px-1">
        <a href="javascript:void(0)"
          class="flex items-center justify-center text-base bg-transparent border rounded-md hover:border-primary hover:bg-primary h-[34px] w-[34px] border-stroke text-body-color hover:bg-primary hover:border-primary hover:text-white">
          2
        </a>
      </li>
      <li class="px-1">
        <a href="javascript:void(0)"
          class="flex items-center justify-center text-base bg-transparent border rounded-md hover:border-primary hover:bg-primary h-[34px] w-[34px] border-stroke text-body-color hover:bg-primary hover:border-primary hover:text-white">
          3
        </a>
      </li>
      <li class="px-1">
        <a href="javascript:void(0)"
          class="flex items-center justify-center text-base bg-transparent border rounded-md hover:border-primary hover:bg-primary h-[34px] w-[34px] border-stroke text-body-color hover:bg-primary hover:border-primary hover:text-white">
          4
        </a>
      </li>
      <li class="px-1">
        <a href="javascript:void(0)"
          class="flex items-center justify-center text-base bg-transparent border rounded-md hover:border-primary hover:bg-primary h-[34px] w-[34px] border-stroke text-body-color hover:bg-primary hover:border-primary hover:text-white">
          5
        </a>
      </li>
      <li class="px-1">
        <a href="javascript:void(0)"
          class="flex items-center justify-center text-base bg-transparent border rounded-md hover:border-primary hover:bg-primary h-[34px] w-[34px] border-stroke text-body-color hover:bg-primary hover:border-primary hover:text-white">
          <span>
            <svg width="8" height="15" viewBox="0 0 8 15" class="fill-current stroke-current">
              <path
                d="M0.870212 13.0861L0.870097 13.086L0.865602 13.0912C0.685237 13.3017 0.684716 13.6312 0.895299 13.8418C0.989374 13.9359 1.13704 13.9951 1.26387 13.9951C1.42264 13.9951 1.5463 13.9271 1.65431 13.8151L1.65436 13.8151L1.65771 13.8117C2.11251 13.3774 2.56474 12.9309 3.00861 12.4732C3.45594 12.0097 3.89549 11.5359 4.32709 11.0519C4.75674 10.5705 5.17741 10.0792 5.58879 9.5786C5.99931 9.07915 6.39956 8.57086 6.7893 8.05378C7.18006 7.53467 7.55944 7.00672 7.92728 6.46987C7.96836 6.40853 7.96836 6.40853 7.96836 6.40853C7.96836 6.40853 8.02552 6.33499 7.97448 6.26973C7.92345 6.20447 7.92345 6.20447 7.92345 6.20447C7.55564 5.66762 7.17626 5.13967 6.7855 4.6206C6.39576 4.1035 5.99551 3.5952 5.58499 3.0958C5.17361 2.5952 4.75294 2.1039 4.32329 1.6225C3.89169 1.1385 3.45214 0.6647 3.00481 0.2012C2.56094 -0.2565 2.10871 -0.7029 1.65391 -1.1373C1.65386 -1.1373 1.65381 -1.1374 1.65376 -1.1374C1.54646 -1.2485 1.4228 -1.3165 1.26403 -1.3165C1.1372 -1.3165 0.98954 -1.2573 0.895462 -1.1632C0.68488 -0.9526 0.685402 -0.6231 0.865762 -0.4127L0.865762 -0.4127L0.870212 13.0861Z"
                stroke-width="1.5" />
            </svg>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>